<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">商户名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-merchant_id" onchange="ck_merchant_id()" data-rule="required" data-source="/admin/merchant/getMchList/type/0" class="form-control selectpage" name="row[merchant_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pid')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-pid" data-rule="required" class="form-control "  name="row[pid]">
                <option value="0" >无</option>
                {foreach name="pid_list" item="vo"}
                <option value="{$vo.id}" {eq name="vo.id" value=""}selected{/eq}>{$vo.name}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
        </div>
    </div>



    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

<script>
    function ck_merchant_id(){
        var mch_id = $('#c-merchant_id').val();
        var ops = '<option value="0" >无</option>';
        if(mch_id){
            var pid_list = {:json_encode($pid_list)};
            if(pid_list.length){
               for(var item of pid_list){
                    if(item.merchant_id == mch_id){
                        ops += '<option value="'+item.id+'">'+item.name+'</option>'
                    }
               }
            }
        }
        $('#c-pid').html(ops);

    }
</script>