<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Raise_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-raise_id" data-rule="required" data-source="raise/index" class="form-control selectpage" name="row[raise_id]" type="text" value="{$row.raise_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Props')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-props" data-rule="required" class="form-control " rows="5" name="row[props]" cols="50">{$row.props}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Line_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-line_price" class="form-control" step="0.01" name="row[line_price]" type="number" value="{$row.line_price}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" data-rule="required" class="form-control" step="0.01" name="row[price]" type="number" value="{$row.price}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cost_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cost_price" data-rule="required" class="form-control" step="0.01" name="row[cost_price]" type="number" value="{$row.cost_price}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weight" class="form-control" step="0.01" name="row[weight]" type="number" value="{$row.weight}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Inventory')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-inventory" data-rule="required" class="form-control" name="row[inventory]" type="number" value="{$row.inventory}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
