<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contacts')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contacts" data-rule="required" class="form-control" name="row[contacts]" type="text" value="{$row.contacts|htmlentities}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" data-rule="required" class="form-control" name="row[phone]" type="text" value="{$row.phone|htmlentities}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Device_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-device_name" data-rule="required" class="form-control" name="row[device_name]" type="text" value="{$row.device_name|htmlentities}" disabled>
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-status" data-rule="required" class="form-control" name="row[status]" type="number" value="{$row.status|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Consultation_question')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-consultation_question" class="form-control" name="row[consultation_question]" type="text" value="{$row.consultation_question|htmlentities}" disabled="disabled" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Question_images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-question_images" class="form-control" size="50" name="row[question_images]" type="text" value="{$row.question_images|htmlentities}" disabled>
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-question_images" class="btn btn-danger plupload" data-input-id="c-question_images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-question_images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-question_images" class="btn btn-primary fachoose" data-input-id="c-question_images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-question_images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-question_images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Expert_reply')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expert_reply" class="form-control" name="row[expert_reply]" type="text" value="{$row.expert_reply|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('专家回复图片')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-expert_img" class="form-control" size="50" name="row[expert_img]" type="text" value="{$row.expert_img|htmlentities}" >
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-expert_img" class="btn btn-danger plupload" data-input-id="c-expert_img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-expert_img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-expert_img" class="btn btn-primary fachoose" data-input-id="c-expert_img" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-expert_img"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-expert_img"></ul>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
<!--            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>-->
        </div>
    </div>
</form>
