<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" value="{$row.name}" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tel" data-rule="required" class="form-control" name="row[tel]" value="{$row.tel}" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weixin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weixin" data-rule="required" class="form-control" name="row[weixin]" value="{$row.weixin}" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Province')} / {:__('City')} / {:__('District')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class='control-relative'><input id="c-city" data-rule="required" class="form-control" data-toggle="city-picker" value="{$row.province}/{$row.city}/{$row.district}" name="row[city]" type="text"></div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" data-rule="required" class="form-control" name="row[address]" value="{$row.address}" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sex')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-sex" class="form-control selectpicker" name="row[sex]">
                {foreach name="sexList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.sex"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-idcard" class="form-control" name="row[idcard]" type="text" value="{$row.idcard}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard_images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-idcard_images" class="form-control"  size="50" name="row[idcard_images]" type="text" value="{$row.idcard_images}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-idcard_images" class="btn btn-danger plupload" data-maxcount="2" data-input-id="c-idcard_images" data-
                                  mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-idcard_images"><i class="fa fa-
upload"></i> {:__('Upload')}
</button></span>
                    <span><button type="button" id="fachoose-idcard_images" class="btn btn-primary fachoose" data-input-id="c-idcard_images" data-mimetype="image/*" data-
                                  multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-idcard_images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-idcard_images"></ul>
        </div>
    </div>

    {in name="key" value="1,2"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {foreach name="statusList" item="vo"}

                <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="1"}checked{/in} /> {$vo}
                </label>
                {/foreach}
            </div>

        </div>
    </div>
    {/in}

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

